.shop-card {
  width: 100%;
  aspect-ratio: auto;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
  overflow: hidden;
  transition: transform .2s ease, box-shadow .2s ease;
  height: 100%;
}

.shop-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}


/* ==========================
   店舗画像
========================== */
.shop-card__image-wrapper {
  height: 140px;
  overflow: hidden;
}

.shop-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* ==========================
   店舗情報
========================== */
.shop-card__info-wrapper {
  display: flex;
  flex-direction: column;
  padding: 8px 12px;
  gap: 8px;
  flex: 1 1 auto;
  overflow: hidden;
}

.shop-card__name {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 4px;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.shop-card__rating {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: .9rem;
}

.shop-card__rating .stars {
  font-size: 14px;
  line-height: 1
}

.shop-card__rating .star {
  color: #d1d5db
}

.shop-card__rating .star--filled {
  color: #f59e0b
}

.shop-card__rating .star--half {
  position: relative;
  color: #d1d5db
}

.shop-card__rating .star--half::before {
  content: "★";
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  overflow: hidden;
  color: #f59e0b
}

.rating-text {
  font-weight: 600;
}

.rating-text small {
  font-size: 0.85em;
  color: #666;
  margin-left: 2px;
}

.rating-slash {
  margin: 0 2px;
  font-size: 0.85em;
  opacity: 0.75;
}

.rating-count,
.rating-empty-text {
  margin-left: 4px;
  color: #666;
  font-size: .9em;
}

.shop-card__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  font-size: .85rem;
  margin-top: 2px
}

/* 詳しくみるボタン & お気に入り登録 */
.shop-card__action-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

/* 詳しくみるボタン */
.shop-card__button {
  font-size: 0.9rem;
  padding: 4px 10px;
  border-radius: 4px;
  color: #fff;
  background-color: #2962ff;
  text-decoration: none;
}

.shop-card__button:hover {
  background-color: #0039cb;
}

/* いいねボタン */
.favorite-button {
  background: none;
  border: none;
  cursor: pointer;
}

.favorite-icon {
  font-size: 2rem;
  color: #ccc;
  transition: color 0.3s ease;
}

.favorite-icon--active {
  color: #FF5555;
}

.favorite-button:hover .favorite-icon:not(.favorite-icon--active) {
  color: #ff8888;
  transform: scale(1.1);
}